@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {

    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", cursive;

}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
    background-color: #0f1623;
}

body::-webkit-scrollbar {
    display: none;
}

.blur {
    filter: blur(10px);
}

section {
    position: relative;
    width: 100%;
    height: 130vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #0a2a43; */
    z-index: 100;
    mix-blend-mode: color;
}

section::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* background: linear-gradient(to top,#0a2a43,transparent); */
    z-index: 100;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.img2 {
    z-index: 2;
}

#Layer4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    object-position: 20% 20%;
}

#logoimg {
    height: 200px;
    width: 200px;
    /* transition: 4s ease-in-out; */
    /* transition: transform ease-out 0.3s; */
    transition: 0.4s ease-in;

    justify-content: space-around;
}

#logo2img {
    transition: 0.4s ease-in;
}

.scrolled {
    height: 40px;
    /* background: rgba(134, 55, 55, 0.9); */
    color: blue;
    opacity: 0;
    transition: 5 ease-in-out;
    /* display: none; */
}

.logo2 {
    position: absolute;
    height: 80px;
    width: 75px;
    top: 75px;
    left: 50px;
}

.logo {
    position: relative;
}

.hidden {
    opacity: 0;
}

.noCollapse .navbar {
    display: flex;
    padding: 15px;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 300;
    /* font-size: 1000px; */
}

.companyName {
    font-size: 35px;
    color: white;
    position: fixed;
    top: 16px;
    left: 30px;
    z-index: 300;
    height: 200px;
    width: 200px;
}

.noCollapse .navList {
    display: flex;
    position: fixed;
    top: 31px;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    /* transition: opacity 0s ; */
}

.noCollapse .navItem {
    list-style: none;
    position: relative;
    padding: 0 3px;
}

.noCollapse .navLink {
    color: #eee;
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
}

.collapse .navbar {
    width: 16%;
    height: 90%;
    padding: 0 130px;
    background-color: #262626;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13% 87% 0% 100% / 32% 0% 100% 68%;
    transition: background-color 0.8s cubic-bezier(1, 0, 0, 1);
    z-index: 300;
}

.change {
    background-color: rgba(0, 0, 0, 1) !important;
}

.collapse .hamburgerMenu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 28px;
    right: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}

.collapse .line {
    width: 100%;
    height: 3px;
    /* background-color: chocolate; */
    background-color: crimson;
    transition: all 0.8s;
}

.collapse .change .line1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}

.collapse .change .line2 {
    opacity: 0;
}

.collapse .change .line3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
}

.collapse .navList {
    text-align: right;
    opacity: 0;
    transition: opacity 0.8s cubic-bezier(1, 0, 0, 1);
    padding: 30px;
}

.collapse .change .navList {
    opacity: 1;
}

.collapse .navItem {
    list-style: none;
    pointer-events: none;
    margin: 10px;
}

.collapse .change .navItem {
    pointer-events: all;
}

.collapse .navLink {
    text-decoration: none;
    font-size: 20px;
    color: #eee;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 2px;
}

.navLink::before,
.navLink::after {
    content: "";
    width: 100%;
    height: 2px;
    /* background-color: chocolate; */
    background-color: crimson;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.navLink::after {
    bottom: 0;
    transform-origin: right;
}

.navLink::before {
    top: 0;
    transform-origin: left;
}

.navLink:hover::before,
.navLink:hover::after {
    transform: scaleX(1);
}

.navbar {
    position: absolute;
    background-color: transparent;
}

.logo {
    position: absolute;
    top: 20px;
    height: 120px;
    width: 180px;
    transform: translate(-50%, -50%);
    transition: 0.4s ease-in;
}

.logo2 {
    position: absolute;
    top: 14px;
    left: 5px;
    height: 75px;
    width: 140px;
    transform: translate(-50%, -50%);
    transition: 0.4s ease-in;
}

#logoImg3 {
    position: absolute;
    top: 30px;
    left: 50px;
    height: 75px;
    width: 140px;
    transform: translate(-50%, -50%);
    transition: 0.4s ease-in;
}

.text {
    /* background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0.7) 85%, rgba(255, 255, 255, 0.3) 90%, rgba(255, 255, 255, 0.1) 95%, rgba(255, 255, 255, 0) 100%); */
    background-image: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    background-clip: text;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 20vw;
    text-transform: uppercase;
    position: absolute;
    margin-top: 130px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    line-height: 0.6;
    padding-top: 50px;
    opacity: 1;
    transition: filter 0.2s ease-in;
}

@media screen and (max-width: 800px) {
    #text {
        margin-top: 120px;
    }
}

/* =Loader
-------------------------------------------------------------- */
/* =Loader
-------------------------------------------------------------- */

.animation-wapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10000;
    transition: all 0.5s ease-in;
}

.Layer_2 {
    max-width: 300px;
    width: 60vw;

    position: absolute;
    animation: fliker 5s ease-in-out;
}

.animation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    animation: shrink 5s ease-in-out;
    transform: scale(1.2);
    position: absolute;
    background-color: black;
    overflow: hidden;
    z-index: 30;
    opacity: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /* display: none; */
}

.hidden2 {
    z-index: -20;
    opacity: 0;
}

@keyframes fliker {
    from {
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    45% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes shrink {
    from {
        opacity: 1;
        transform: scale(1.5);
    }

    95% {
        opacity: 1;
    }

    to {
        transform: scale(1.2);
        opacity: 0;
    }
}

.spinner {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, -50%);

    max-width: 350px;
    max-height: 350px;
    width: 70vw;
    height: 70vw;
    border-radius: 50%;
    border-top: 3px solid #e361b8;
    border-bottom: 3px solid #88b7e8;
    border-right: 1px solid linear-gradient(to bottom, #e361b8, transparent);
    border-left: 1px solid transparent;
    background: linear-gradient(black, black) padding-box,
        linear-gradient(0deg, #e361b8, transparent, #88b7e8) border-box;
    border: 3px solid transparent;
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



@media (max-width: 776px) {
    .noCollapse .navLink {
        font-size: 18px;
    }

    .noCollapse .navList {
        top: 34px;
    }


    .noCollapse .navbar {
        background-color: transparent;
    }
}

@media (max-width: 680px) {
    .noCollapse .navList {
        opacity: 0;
    }
}

@media (max-width: 450px) {
    .collapse .navbar {
        padding: 0 120px;
    }
}

@media (max-width: 400px) {
    .collapse .navbar {
        padding: 0 110px;
    }

    .companyName {
        font-size: 30px;
    }

    .collapse .hamburgerMenu {
        top: 26px;
    }

    .spinner:before {
        width: 60vw;
        height: 60vw;
    }

    .Layer_2 {
        width: 50vw;
    }

    .blur {
        filter: blur(1px);

    }

}

.register-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    top: 118vh;
}


.register-button {
    z-index: 200;
    position: relative;
    padding: 19px 22px;
    transition: all .2s ease;
    text-decoration: none;
    color: white;
}

.register-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    border-radius: 28px;
    background:rgba(194, 130, 133,0.5);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
}

.register-text {
    position: relative;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.register-button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: rgb(255, 250, 250);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.register-button:hover::before {
    width: 100%;
    background: rgba(194, 130, 133,0.8);
}

.register-button:hover .register-text{
    color: black;
    font-weight: 600;
}

.register-button:hover svg {
    transform: translateX(0px);
    stroke: black;
}

.register-button:active {
    transform: scale(0.96);
}